@import '../../../styles/variables';

.avatar {
	display: flex;

	&__initials {
		border-radius: 50%;
		background: linear-gradient(135deg, $color-primary 20%, transparent 100%)
			$color-secondary;

		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-white-dark;
		user-select: none;
		text-transform: capitalize;
		font-size: 1.3rem;
		font-weight: 600;

		&--small {
			width: 4rem;
			height: 4rem;
			font-size: 1.5rem;
		}

		&--medium {
			width: 8rem;
			height: 8rem;
			font-size: 3rem;
		}

		&--large {
			width: 12rem;
			height: 12rem;
			font-size: 6rem;
		}
	}
}
