@import '../../../styles/mixins';
@import '../../../styles/variables';

.header {
	@include wrapper;

	padding: 2rem;

	max-width: 66rem;

	margin-top: 2rem;
	margin-bottom: 2rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	box-shadow: $box-shadow;
	border-radius: $border-radius;

	@media screen and (max-width: 650px) {
		margin-top: 0;
		border-radius: 0;
	}

	&__logo {
		font-size: 1.8rem;
		font-weight: 900;
		font-style: italic;
		text-decoration: none;
		color: $color-black;
	}
}

.profileName {
	font-weight: 600;
	text-decoration: none;
	color: $color-black;

	margin: 0 0.5rem;
}
