@import '../../../styles/variables';

.FollowListItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.2rem;
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	margin-bottom: 1rem;
	background-color: $color-white;

	&__userInfo {
		display: flex;
		align-items: center;
		gap: 1rem;

		text-decoration: none;
		color: $color-black;

		p {
			font-size: 1.4rem;
			font-weight: 400;

			strong {
				font-size: 1.5rem;
				font-weight: 600;
			}
		}
	}
}
