@import '../../../styles/variables';

.emptyCard {
	background-color: $color-white-dark;

	margin: 0 auto;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	font-size: 1.8rem;
	font-weight: 600;

	margin-bottom: $margin-card-bottom;
	padding: 2rem 3rem;

	width: 100%;
	height: 16.4rem;

	&.gradient {
		background: linear-gradient(
			-45deg,
			$color-white,
			#dedede,
			#fff,
			$color-white
		);
		background-size: 150% 100%;
		animation: gradient 2s ease-in-out infinite;
	}

	&.border {
		border-radius: $border-radius;
		box-shadow: $box-shadow;
		background-color: $color-white;
	}

	& .emoji {
		font-size: 5rem;
		line-height: 1.3;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
